body {
  margin: 0px;
  background-color: black;
}

header {
  background-color: DodgerBlue;
  width: 90%;
  padding: 0% 5%;
}

nav {
  width: 100%;
  background-color: #333;
}

#nav-ul {
  width: 90%;
  list-style-type: none;
  padding: 0% 5%;
  margin: 0px;
  overflow: hidden;
  background-color: #111;
}

.nav-li {
  float: left;
}

.nav-li .nav-a {
  display: block;
  color: white;
  text-align: center;
  padding: 21px 16px;
  text-decoration: none;
}

.nav-li .nav-a:hover {
  background-color: #333;
}

#github {
  padding: 14px 16px;
}

div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

main {
  background-color: lightblue;
  flex-basis: 55%;
  padding: 0% 0% 0% 5%;
}

aside {
  background-color: lightblue;
  flex-basis: 40%;

}

footer {
  font-family: 'Raleway', sans-serif;
  background-color: #111;
  color: white;
  width: 90%;
  padding: 2.5% 5%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  padding: 1% 0%;
  margin: 0px;
  font-size: 45px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 1% 0%;
  margin: 0px;
  font-size: 25px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
}

p {
  font-family: 'Raleway', sans-serif;
  padding: 1%;
  margin: 0px;
  font-size: 18px;
}

.p2 {
  padding: 1% 1% 2% 1%;
}

.p-footer {
  padding: 0px;
  display: inline-block;
}

.p2-footer {
  padding: 0px;
}

.p3-footer {
  display: inline-block;
  padding: 0px;
  position: absolute;
  right: 5%;
}

a {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-size: 18px;
}

td {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  font-size: 18px;
  padding: 1% 1% 2% 1%;
}

@media only screen and (max-width: 800px) {
  div {
    flex-direction: column;
  }
  aside {
    padding: 0% 0% 0% 5%;
  }
}

/* opleiding */

.opdrachten-lijst {
  list-style-type: none;
  padding: 1%;
  margin: 0;
}

.opdrachten {
  color: black;
}

.opdrachten:hover {
  font-weight: bold;
}

/* overmij */

#ik {
  padding: 2%;
  width: 25%;
  height: auto;
  float: right;
}

#meer {
  width: 25%;
  height: auto;
  float: left;
  padding: 0.5%
}

#berg {
  width: 25%;
  height: auto;
  float: right;
  padding: 2%;
}

/* beroep */

#beroep {
  flex-basis: 95%;
}
